@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --preto: #000000;
  --azul: #115d7b;
  --amarelo: #FBD000;
  --amarelo-fundo: #8c770f;
  --vermelho: #81211f;
  --verde: #306732;
}
body {
    background-image: url(../img/fundo\ mario\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh; 
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
}
.barra-jogo {
    background-color: var(--vermelho);
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: 5px 0 15px rgba(0,0,0,0.5); /* Sombra para separar */
}

.indices {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 90px;
    font-size: 20px;
    cursor: pointer;
}

.indices li:hover {
    color: var(--amarelo);
    transform: scale(1.1);
    transition: 0.2s;
}

.voltar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 50px;
    display: block;
}
.area-jogo {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.grid-cartas {
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    gap: 150px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}


.carta {
    width: 170px; 
    height: 220px;
    cursor: pointer;
    transition: transform 0.2s;
}

.carta:hover {
    transform: scale(1.05);
}

.carta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid var(--azul);
}