@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --preto: #000000;
  --azul: #115d7b;
  --amarelo: #FBD000;
  --amarelo-fundo: #8c770f;
  --vermelho: #81211f;
  --verde: #306732;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--preto);
    margin: 0;
    height: 100vh; 
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    display: flex;
}

/*Menu do lado*/
.barra-jogo {
    background-color: var(--vermelho);
    width:350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: 5px 0 15px rgba(0,0,0,0.5);
}
.indices {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 90px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.indices button{
    list-style: none;
    text-decoration: none;
    color: white;
    width: 200px;
    height: 100px;
    background: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    cursor: pointer;
}

.indices button:hover {
    color: var(--amarelo);
    transform: scale(1.5);
    transition: 0.2s;
}

.voltar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-top: 50px;
    display: flex;
    transition: 0.2s;
}
.voltar a:hover{
    color: var(--amarelo);
    transform: scale(1.5);
    transition: 0.2;

}

/*estilização do jogo*/
.jogo{
    display: flex;
    background-image: url(../elementos/fundo\ casdtelo\ quiz.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1190px;
    height: 100vh;
}

.versus{
    background-image: url(../elementos/gifbros.gif);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.comecar{
    width: 200px;
    height: 100px;
    position: absolute;
    left: 54%;
    top: 50%;
    background-color: var(--amarelo);
    font-family:'Press Start 2P', cursive;

}
.quiz {
    background-color: rgba(255, 255, 255, 0.95);
    border: 5px solid black;
    border-radius: 20px;
    
    width: 80%;
    max-width: 800px;
    height: auto; 
    min-height: 400px;
    position: absolute;
    top: 5%;
    left:35%;

    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    
    padding: 30px;
    box-sizing: border-box;
}

#opcoes {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    width: 100%;

}

.fila1-opcoes, .fila2-opcoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

#opcoes span {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    white-space: nowrap; 

}

.fila-botoes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.botao-quiz{
    background-color: var(--amarelo);
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
}

.text-success-with-bg {
    background-color: #43B047 !important;
    color: white !important;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px;
}

.text-danger-with-bg {
    background-color: #E52521 !important;
    color: white !important;
    border: 2px solid white;
    border-radius: 10px;
    padding:15px;
}
.radio{
    cursor: pointer;
    transform: scale(2.0); 

    margin-right: 10px; 

    accent-color: #E52521;
}

.mario-bowser {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none; 
}
.mario {
    position: absolute;
    bottom: 115px;
    left: 25%;  
    width: 200px;
}

.mario img {
    width: 100%; 
    height: auto;
}
.bowser {
    position: absolute;
    bottom: 110px; 
    right: 50px;
    width: 150px; 
}

.bowser img {
    width: 100%;
    height: auto;
}

/*Estatísticas*/
.pontuacao-geral{
    display: none;
    background-color: white;
    flex-direction: row;
    border-radius: 50px;
    flex: 1;
    margin: 50px;
}
.pontuacao{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 2%;
}
.resultados{
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 15px;
    flex-direction: column;
    gap: 45px;
}
.pontuação h3{
    font-size: 20px;
}
.titulo-pontuacao h1{
    margin: 0px;
    padding: 10px;    
}
/*Gráfico*/
#barra{
     margin-bottom: 50%;
}

.dash{
    width: 450px;
    height: 100vh;
}
.kpi{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1
}

.kpi h2{
    text-align: center;
    align-self: center;
    align-content: center;
}

#estadoMario{
    display: flex;
}
.vidaMario {
    width: 260px;
    height: 150px;
    align-self: center;
    align-content: center;
    justify-self: center;
    position: relative;
    left: 60%;
    top: 20px;
}


#rosca{
    width: 200px;
    height: 100vh;
}
.rosca-style{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    position: relative;
    top: 10%;    

    
}

/*Section Instruções*/
.instrucoes {
    display: flex;
    background-image:  url(../img/toadInstrucoes.png);
    width: 100%;
    position: relative;
    left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    align-items: center;
    justify-content: center;
}