@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --preto: #000000;
  --azul: #115d7b;
  --amarelo: #FBD000;
  --amarelo-fundo: #8c770f;
  --vermelho: #81211f;
  --verde: #306732;
}
body {
    background-image: url(../img/fundo\ mario\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh; 
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
}
.area-jogo {
    display: flex;
}
/*Menu do lado*/
.barra-jogo {
    background-color: var(--vermelho);
    width:350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: 5px 0 15px rgba(0,0,0,0.5);
}
.indices {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 90px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.indices button{
    list-style: none;
    text-decoration: none;
    color: white;
    width: 200px;
    height: 100px;
    background: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    cursor: pointer;
}

.indices button:hover {
    color: var(--amarelo);
    transform: scale(1.5);
    transition: 0.2s;
}

.voltar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-top: 50px;
    display: flex;
}
/*estilização aréa do jogo*/
.area-jogo {
    background-color: white;
    border: 5px solid #000;
    border-radius: 20px;
    text-align: center;
    flex: 1;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.game{
    flex-direction: row;
    display: flex;
    gap: 50px;
    position: absolute;
    bottom: 250px;
    left: 600px;
}
.slot{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    border: 8px solid var(--amarelo-fundo);   
}
.power-up{
    width: 150px;
    background-size: cover;
    align-items: center;
}
.rodar{
    width: 300px;
    height: 100px;
    position: absolute;   
    top: 75%;
    left: 50%;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #f8b739;
    border: none;
    font-family: inherit;
    border-bottom: 5px solid #b8860b;
}

.rodar:active {
    border-bottom: none;
    transform: translateY(5px);

}
/*Estatísticas*/
.pontuacao-geral{
    display: none;
    background-color: white;
    border-radius: 50px;
    flex: 1;
    margin: 50px;
}
.pontuacao{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.pontuação{
    display: flex;
    align-items: flex-start;
    padding-left: 5%;
    font-size: 15px;
    flex-direction: column;
}
.pontuação h3{
    font-size: 20px;
}
.titulo-pontuacao h1{
    margin: 0px;
    padding: 10px;    
}
/*Gráfico*/
#barra{
    width: 550px;
    position: fixed;
}
/*Section Instruções*/
.instrucoes {
    display: none;
    background-color: white;
    border-radius: 50px;
    flex: 1;
    margin: 50px;
    padding: 20px;
    flex-direction: column;
    text-align: center;
}