@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --preto: #000000;
  --azul: #049CD8;
  --amarelo: #FBD000;
  --vermelho: #E52521;
  --verde: #43B047;
} 
body {
  background-image: url(./elementos/fundotijolo.png);
  background-size: cover;  
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
}
.cadastro {
    display: flex;
    align-items: center;
    gap: 250px;         
}
.luigi {
  width: 250px;
  height: auto;
  align-self: flex-end;
  position: relative;
  top: 90px;
  
}
.inputs_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs_cadastro input {
  width: 380px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  background: #111;
  border: 2px solid var(--vermelho);
  color: white;
  text-align: center;
}
.inputs_cadastro input::placeholder {
    color: #888;
}
.inputs_cadastro .clique {
    color: var(--vermelho);
    cursor: pointer;
}
.inputs_cadastro .clique:hover {
    text-decoration: underline;
}
.inputs_cadastro img{
  width: 250px;
  gap: 5px;
}
button{
    background-image: url(./elementos/Button\ Cadastrar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 350px;
    height:50px; 
    border: none;
    padding: 0; 
    font-size: 0; 
    color: transparent; 
    cursor: pointer;
    transition: transform ease-in-out;
}
button:hover {
    background-image: url(../App/elementos/BtnCadastrarFrame.png);
    transform: scale(1.05);
}
.clique{
    cursor: pointer;
    display: inline-block;
}
.clique:hover{
    transform: scale(1.09);
}
.titulo{
  font-size: 30px;
  color: white;
}
.texto-span{
  font-size: 20px;
}
a{
 text-decoration: none;
}
.voltar-site{
    margin: 30px;
}
.voltar-site a{
    text-decoration: none;
    color: var(--amarelo);
    transition: transform 0.2s ease-in-out;
}
.voltar-site a:hover{
    text-decoration: none;
    color: var(--verde);
    transform: scale(1.09);
}