@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --preto: #000000;
  --azul: #049CD8;
  --amarelo: #FBD000;
  --vermelho: #E52521;
  --verde: #43B047;
}
body {
    background-color: var(--preto);
    display: flex;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    gap: 40px; 
    height: 100vh;
    overflow: hidden;
}

.titulo{
    font-size: 22px;
}
.mario-img {
    width: 370px;
    height: auto; 
}
.perfil-img {
    width: 500px;
    height: auto;
    margin-bottom: 20px; 
}
.login {
    background-image: url(./elementos/Group\ 6.png);
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
    height: 705px;
    width: 650px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;   
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    bottom: 20px;
}

.inputs_login {
    text-align: center; 
}

.inputs_login input {
    width: 280px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/*Botão*/
.inputs_login button {
    background-image: url(./elementos/Button\ Login.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 250px;
    height:50px;
    border: none;
    padding: 0;
    font-size: 0;
    color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}
.inputs_login button:hover {
    background-image: url(./elementos/Button\ Login\ Animation.png);
    transform: scale(1.09);
}

.inputs_login h1{
   font-size: 24px;
}
.clique{
    cursor: pointer;
    display: inline-block;
}
.clique:hover{
    transform: scale(1.09);
}
/*Estilização das inputs*/
input[type="text"] {
      width: 80%;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      border: 2px solid var(--vermelho);
      background: #111;
      color: white;
      text-align: center;
    }

    input[type="text"]:focus {
      outline: none;
      border-color: #ffffff;
      box-shadow: 0 0 10px #ffffff;
    }
input[type="password"] {
      width: 80%;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      border: 2px solid var(--vermelho);
      background: #111;
      color: white;
      text-align: center;
    }
    input[type="password"]:focus {
      outline: none;
      border-color: #ffffff;
      box-shadow: 0 0 10px #ffffff;
    }
.titulo{
    color: white;
    text-align: center;
}

.voltar-site{
    margin: 30px;
}
.voltar-site a{
    text-decoration: none;
    color: var(--amarelo);
    transition: transform 0.2s ease-in-out;
}
.voltar-site a:hover{
    text-decoration: none;
    color: var(--verde);
    transform: scale(1.09);
}
